.content {
  margin: 10px;
  padding: 16px;
  background-color: ghostwhite;
}
mat-form-field {
  width: 55%;
}
img{

  width: 350px;
  height: 17em;
  margin: 0px;

}
mat-icon{
  /*color: teal;*/
  font-size: 35px;
  margin-right: 10px;
}
.with-icon {
  display: flex;
  align-items: center;
}
