<div class="content">
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Student Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/stud.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Staff Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/teach2.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
  <mat-card class="mat-elevation-z8" >
    <mat-card-header>
      <mat-card-title class="cen text-up">Issue Leaveouts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayoutAlign="center">
        <img class="kv-avatar" src="/assets/images/leaveout.png">
      </div>

    </mat-card-content>

  </mat-card>




</div>
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Student Reports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/report.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Marks Recording</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/recording.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Exam Processing</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/process.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Exam Reports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/exrep.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Manage Balances</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/calculator.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Recieve Fees</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/fees.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Fees Reports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/monrep.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="mat-elevation-z8" >
      <mat-card-header>
        <mat-card-title class="cen text-up">Issue Books</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayoutAlign="center">
          <img class="kv-avatar" src="/assets/images/books.png">
        </div>

      </mat-card-content>

    </mat-card>




  </div>

</div>
</div>
